In [50]:
import pandas
import matplotlib.pyplot as plt
import numpy as np
import seaborn
NHP=pandas.read_csv("NaN_Housing_Prices.csv")
import warnings
warnings.filterwarnings(action = 'ignore')

In [2]:
NHP

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,NaN,7,1180.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,NaN,7,2170.0,400.0,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,NaN,6,770.0,NaN,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,NaN,7,1050.0,910.0,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,NaN,8,1680.0,NaN,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,360000.0,3,2.50,1530.0,1131.0,3.0,NaN,8,1530.0,NaN,...,0,0,0,1,0,0,0,0,0,0
21605,400000.0,4,2.50,2310.0,5813.0,2.0,NaN,8,2310.0,NaN,...,0,1,0,0,0,0,0,0,0,0
21606,402101.0,2,0.75,1020.0,1350.0,2.0,NaN,7,1020.0,NaN,...,0,0,0,1,0,0,0,0,0,0
21607,400000.0,3,2.50,1600.0,2388.0,2.0,NaN,8,1600.0,NaN,...,0,0,0,0,1,0,0,0,0,0
21608,325000.0,2,0.75,1020.0,1076.0,2.0,NaN,7,1020.0,NaN,...,0,0,0,1,0,0,0,0,0,0

# Missing Value Ratio

In [3]:
NHP.isnull().sum()

Sale_Price                                       0
No of Bedrooms                                   0
No of Bathrooms                                  0
Flat Area (in Sqft)                              0
Lot Area (in Sqft)                               0
No of Floors                                     0
No of Times Visited                          19485
Overall Grade                                    0
Area of the House from Basement (in Sqft)        0
Basement Area (in Sqft)                      13123
Age of House (in Years)                          0
Latitude                                         0
Longitude                                        0
Living Area after Renovation (in Sqft)           0
Lot Area after Renovation (in Sqft)              0
Years Since Renovation                       20695
Condition_of_the_House_Excellent                 0
Condition_of_the_House_Fair                      0
Condition_of_the_House_Good                      0
Condition_of_the_House_Okay                      0
Ever_Renovated_Yes                               0
Waterfront_View_Yes                              0
Zipcode_Group_Zipcode_Group_1                    0
Zipcode_Group_Zipcode_Group_2                    0
Zipcode_Group_Zipcode_Group_3                    0
Zipcode_Group_Zipcode_Group_4                    0
Zipcode_Group_Zipcode_Group_5                    0
Zipcode_Group_Zipcode_Group_6                    0
Zipcode_Group_Zipcode_Group_7                    0
Zipcode_Group_Zipcode_Group_8                    0
Zipcode_Group_Zipcode_Group_9                    0
dtype: int64

##### Removing columns with missing values:

In [4]:
for i in NHP.columns:
    tmp=NHP[i].isnull().sum()/len(NHP)
    if tmp>0.7:
        print("Dropping column ", i," with missing value ratio",tmp)
        NHP=NHP.drop(columns=[i])

Dropping column  No of Times Visited  with missing value ratio 0.9017076218242399
Dropping column  Years Since Renovation  with missing value ratio 0.9577028090147623

# Low Variance

In [5]:
RHP=pandas.read_csv("Raw_Housing_Prices3.csv")
RHP

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,263000018,14 May 2017,360000.0,3,2.50,1530.0,1131.0,3.0,No,None,...,8,1530.0,0,9,0,98103.0,47.6993,-122.346,1530.0,1509
21605,6600060120,15 February 2016,400000.0,4,2.50,2310.0,5813.0,2.0,No,None,...,8,2310.0,0,4,0,98146.0,47.5107,-122.362,1830.0,7200
21606,1523300141,14 June 2017,402101.0,2,0.75,1020.0,1350.0,2.0,No,None,...,7,1020.0,0,9,0,98144.0,47.5944,-122.299,1020.0,2007
21607,291310100,15 January 2016,400000.0,3,2.50,1600.0,2388.0,2.0,No,None,...,8,1600.0,0,14,0,98027.0,47.5345,-122.069,1410.0,1287
21608,1523300157,14 October 2017,325000.0,2,0.75,1020.0,1076.0,2.0,No,None,...,7,1020.0,0,10,0,98144.0,47.5941,-122.299,1020.0,1357

In [6]:
RHP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  float64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.1+ MB

##### Drop all the columns which are not categorical:

In [7]:
numerical_data=RHP.drop(columns=['ID', 'Date House was Sold', 'Sale Price', 'Waterfront View', 'No of Times Visited', 
                                'Condition of the House', 'Overall Grade', 'Zipcode'])
numerical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   No of Bedrooms                             21609 non-null  int64
 1   No of Bathrooms                            21609 non-null  float64
 2   Flat Area (in Sqft)                        21609 non-null  float64
 3   Lot Area (in Sqft)                         21609 non-null  float64
 4   No of Floors                               21609 non-null  float64
 5   Area of the House from Basement (in Sqft)  21609 non-null  float64
 6   Basement Area (in Sqft)                    21609 non-null  int64
 7   Age of House (in Years)                    21609 non-null  int64
 8   Renovated Year                             21609 non-null  int64
 9   Latitude                                   21609 non-null  float64
 10  Longitude                                  21609 non-null  float64
 11  Living Area after Renovation (in Sqft)     21609 non-null  float64
 12  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 2.1 MB

##### Normalize all the numerical columns:

In [8]:
from sklearn.preprocessing import Normalizer
norm=Normalizer()
norm_data=norm.fit_transform(numerical_data)
norm_data=pandas.DataFrame(norm_data, columns=numerical_data.columns)
norm_data

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,0.000363,0.000121,0.142628,0.682924,0.000121,0.142628,0.000000,0.007615,0.000000,0.005743,-0.014777,0.161968,0.682924
1,0.000264,0.000198,0.226174,0.637335,0.000176,0.190972,0.035202,0.005896,0.175219,0.004200,-0.010765,0.148729,0.672273
2,0.000152,0.000076,0.058440,0.758961,0.000076,0.058440,0.000000,0.006451,0.000000,0.003623,-0.009277,0.206437,0.611874
3,0.000527,0.000395,0.258159,0.658569,0.000132,0.138299,0.119859,0.006981,0.000000,0.006259,-0.016121,0.179131,0.658569
4,0.000263,0.000175,0.147072,0.707346,0.000088,0.147072,0.000000,0.002714,0.000000,0.004169,-0.010684,0.157577,0.656834
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,0.000922,0.000768,0.470018,0.347445,0.000922,0.470018,0.000000,0.002765,0.000000,0.014653,-0.037585,0.470018,0.463567
21605,0.000401,0.000250,0.231383,0.582263,0.000200,0.231383,0.000000,0.000401,0.000000,0.004759,-0.012256,0.183303,0.721193
21606,0.000667,0.000250,0.340207,0.450274,0.000667,0.340207,0.000000,0.003002,0.000000,0.015874,-0.040791,0.340207,0.669407
21607,0.000788,0.000657,0.420407,0.627457,0.000526,0.420407,0.000000,0.003679,0.000000,0.012490,-0.032074,0.370484,0.338165
21608,0.000807,0.000303,0.411714,0.434318,0.000807,0.411714,0.000000,0.004036,0.000000,0.019211,-0.049365,0.411714,0.547741

##### Check the variance of the data:

In [9]:
tmp=norm_data.var()
tmp

No of Bedrooms                               4.071117e-08
No of Bathrooms                              2.802492e-08
Flat Area (in Sqft)                          1.231500e-02
Lot Area (in Sqft)                           1.351803e-02
No of Floors                                 3.008524e-08
Area of the House from Basement (in Sqft)    1.010140e-02
Basement Area (in Sqft)                      1.648493e-03
Age of House (in Years)                      2.002344e-05
Renovated Year                               1.684740e-03
Latitude                                     1.077875e-05
Longitude                                    7.109191e-05
Living Area after Renovation (in Sqft)       1.079222e-02
Lot Area after Renovation (in Sqft)          1.250016e-02
dtype: float64

##### Removing variables below the 1e-4 threshold:

In [10]:
T=1e-4

for i in tmp:
    if i<T:
        norm_data.drop(columns=[tmp[tmp==i].index[0]], inplace=True)
        
norm_data.var()

Flat Area (in Sqft)                          0.012315
Lot Area (in Sqft)                           0.013518
Area of the House from Basement (in Sqft)    0.010101
Basement Area (in Sqft)                      0.001648
Renovated Year                               0.001685
Living Area after Renovation (in Sqft)       0.010792
Lot Area after Renovation (in Sqft)          0.012500
dtype: float64

##### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Creating x-train and y-train datasets for further procedures

In [55]:
data = pandas.read_csv('Transformed_Housing_Data2.csv')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Y = data['Sale_Price']
X = scaler.fit_transform(data.drop(columns = ['Sale_Price']))
X = pandas.DataFrame(data = X, columns = data.drop(columns = ['Sale_Price']).columns)

X = data.drop(columns = ["Sale_Price"])
Y = data['Sale_Price']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 101)
X = data.drop(columns = ["Sale_Price"])
Y = data['Sale_Price']

In [56]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression(normalize=True)
lr.fit(x_train, y_train)

LinearRegression(normalize=True)

##### The above codebox has been copied from the Linear Regression Notebook, refer it for more details.

##### Now that we have created x_train and y_train sets, we can continue with dimensionality reduction

##### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Adjusted R:

In [57]:
predictions=lr.predict(x_test)
lr.score(x_test, y_test) #Calculated the R^2 value of the model

0.846235554246878

In [58]:
def adj_r2(x, y, pred):
    from sklearn.metrics import r2_score
    R=r2_score(y, pred)
    n=len(y)
    m=len(x.columns)
    adjR=1-((n-1)*(1-R)/(n-(m+1)))
    return adjR

In [59]:
adj_r2(x_test, y_test, predictions)

0.8455205924718325

##### The difference in value is very low(0.001), this shows that there are some variables which are not contributing to the model

# Forward Selection

In [60]:
def adj_r2(m, y, pred):
    from sklearn.metrics import r2_score
    R=r2_score(y, pred)
    n=len(y)
    adjR=1-((n-1)*(1-R)/(n-(m+1)))
    return adjR

In [61]:
#Function to return value of adjR2 for an independent variable

def return_r2(X,Y,model):
    model.fit(X,Y)
    pred=model.predict(X)
    m=len(X.columns)
    return adj_r2(m, Y, model)

### Main Function:

In [62]:
def forward_selection(model, X, Y, max_features):
    
    fcol=[]
    history=[]
    
    for i in range(max_features):
        
        fcol.append('blank')
        tmp=fcol[:]
        Rmax=-1
        
        for var in X.columns:
            tmp[-1]=var
            r2=return_r2(X[tmp], var, model)
            if r2>Rmax:
                fcol[-1]=var
                Rmax=r2
                elim=var
                
        print("Selected ",fcol[-1],"with new r2=", Rmax)
        history.append(Rmax)
        
    return Rmax, history, X[fcol]

In [63]:
score, history, sel_data= forward_selection(lr, x_train, y_train, 5)

TypeError: Singleton array array('No of Bedrooms', dtype='<U14') cannot be considered a valid collection.

In [64]:
x_train

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
17219,4,2.25,2500.0,8500.0,2.0,0,8,2500.0,0,39,...,0,0,0,0,0,0,1,0,0,0
8520,2,1.00,1170.0,5150.0,1.0,0,6,980.0,190,111,...,0,0,1,0,0,0,0,0,0,0
13009,4,2.75,2950.0,5803.0,2.0,0,9,2950.0,0,11,...,0,0,1,0,0,0,0,0,0,0
2640,3,1.00,910.0,10575.0,1.0,0,7,910.0,0,50,...,0,0,0,0,0,0,0,0,0,0
16600,2,1.50,1310.0,12196.0,1.5,0,6,1310.0,0,48,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,2,2.00,1660.0,4500.0,1.0,0,8,1660.0,0,15,...,0,0,0,0,1,0,0,0,0,0
8006,3,2.50,3190.0,7828.0,2.0,0,9,3190.0,0,12,...,0,0,1,0,0,0,0,0,0,0
17745,3,1.00,1410.0,8174.0,1.0,0,8,1410.0,0,60,...,0,0,1,0,0,0,0,0,0,0
17931,4,1.75,1980.0,9000.0,1.0,0,7,1480.0,500,40,...,0,0,0,0,0,0,0,0,0,0
13151,4,2.25,1830.0,7200.0,2.0,2,8,1750.0,80,95,...,0,0,0,0,0,0,0,1,0,0